<!DOCTYPE html>
<html>
<% 
var date = frontMatter.date ? frontMatter.date : new Date().toLocaleDateString();
%>

<head>
    <meta charset="UTF-8">

    <title><%= title %></title>
    <% var codeThemeDir = "../lib/css/code-themes/" + config["code-theme"] + ".css"; %>
    <link rel="stylesheet" href=<%= codeThemeDir %>>
    <link rel="stylesheet" href="../lib/css/post.css">
</head>

<body>
    <script src="../lib/js/marked.min.js"></script>
    <script src="../lib/js/highlight.min.js"></script>
    <script src="../lib/js/jquery-3.4.1.js"></script>
    <% markdown = markdown.replace(/`/g,"\\`") %>
    <script>
        marked.setOptions({
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            }
        });

        var html = marked(`<%- markdown %>`);
        $(function () {
            $("#text").html(html);
        });
    </script>
    <header><a href="../index.html"><%= title %></a></header>
    <div id="mainbox">
        <header><%= frontMatter.title?frontMatter.title:"Untitled" %></header>
        <time><%= date %></time>
        <hr>
        <div id="text">
        </div>
        <hr>
        <% if (frontMatter.tags) { %>
        <p>Tags:
            <% frontMatter.tags.forEach(element => { %>
            <span class="tag"><%= "#"+element %></span>
            <% }) %>
        </p>
        <% } %>
    </div>
</body>

</html>